.button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1em;
    background-color: #eeeeee;
    color: #888888;
    outline: 1px solid #888;
    


}